<div class='modal-overlay' id='modal-overlay'></div>
     <div class='modal' id='modal'>
       <div class='modal-guts' id='modal-guts'>
         <p>Are you sure you want to delete your review?</p>
         <button type="button" class="cancel-button">Cancel</button>
         <button class='delete-button'>Delete</button>
       </div>
     </div>
