<%- include ./header.ejs %>

  <div class="sign-in-page-container">
    <h1>Sign In</h1>
    <% if (message) { %>
      <div><%= message.text %></div>
    <% } %>
    <form action="/signin" method="POST">
      Email: <input type="email" name="email">
      Password: <input type="password" name="password">
      <input type="submit" value="Sign In">
    </form>
  </div>

<%- include ./footer.ejs %>
